body{
margin:0px auto;


}

ul{
  text-align: center;
  margin:0px auto;
  background-color: #03256c;
}

li{
  list-style: none;
  margin-right: 200px;
  font-size: 50px;
  display: inline;
  color: white;
}

.navbar{
  background-color: white;
  color: blue;
}
