nav{
  background-color: #03256c;
  height: 220px;
  text-align: center;
  padding-top: 2.5vw;
}
body{
  margin: 0px;
}
li a{
  text-decoration: none;
  font-size: 1.5vw;
  padding: 10px;
  color: #ffffff;
  font-family:bold;
}

a:hover{
  background-color: pink;
  color: white;
  border-radius: 10px;
  margin-top: 10px;
}
h1{
  color: #204051;
  width: 80%;
  margin: 10px;
  text-align:center;
    font-size:30px;
}

