<!DOCTYPE html>
{% extends 'navbars.html' %}
{% load static %}



{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME PAGE</title>
</head>
<body>
<h1 style="font-size:2vw; margin:20px auto;font-family:bold;color: blue;">பல நுண்ணறிவுகளின் வகுப்பிற்கு உங்களை அன்புடன் வரவேற்கிறேன்...!</h1>
<h1 style="font-size:2vw; margin:20px auto;font-family:bold;color: blue;">எட்டு வகையான பல நுண்ணறிவு கொண்ட அட்டவணையை மேலுள்ள ஏதாவது ஒன்றை தேர்வு செய்க.....!</h1>
<img src="{% static 'photos-1.jpg'%}" width="100%" height="50%">
</body>
</html>
{% endblock %}